* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.library-container {
  padding-inline: 12px;
  padding-block: 16px;
  width: 25%;
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.library-top {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: auto;
}

.header {
  padding: 3px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.your-library {
  display: flex;
  gap: 4px;
  /* color: white; */
  align-items: center;
}

h3 {
  font-size: 16px;
}

.create-section {
  padding: 16px;
  flex-direction: column;
  display: flex;
  gap: 19px;
}
.create-text {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.btn {
  background-color: white;
  padding: 8px;
  border-radius: 16px;
  color: black;
  width: fit-content;
}

.side-footer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
}

/* .side-footer {
  padding-left: 16px;
} */

ul {
  display: flex;

  gap: 7px;

  list-style-type: none;
}

li {
  font-size: 11px;
}

.btn3 {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 5px;
  margin-left: 16px;
  border-radius: 16px;
  color: black;
  width: fit-content;
}
.footer-container p {
  font-size: 11px;
}

.p-text {
  font-size: 16px;
}
