/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 500;
} */

/* .library-container {
  padding-inline: 12px;
  padding-block: 20px;
  width: 30%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
} */

.library-top {
  
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
  overflow: auto;
  padding-block: 10px;
  background-color: #121212;
  
}

.header1 {
  padding: 3px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  color: #a7a7a7;
}

.your-library {
  display: flex;
  gap: 4px;
  /* color: white; */
  align-items: center;
}

.h3-text {
  font-size: 16px;
  color: #a7a7a7;
  cursor: pointer;
}

.h3-text:hover {
  color: white;
}
.icon:hover {
  color: white;
}

.bottom {
  overflow: auto;
}

.create-section {
  overflow: auto;
  padding: 10px;
  flex-direction: column;
  display: flex;
  gap: 19px;
  background-color: #242424;
  border-radius: 10px;
  /* font-weight: bold;
  font-size: medium; */
}
.create-text {
  display: flex;
  flex-direction: column;
  gap: 4px;

}
#create-text1{
  font-size: 14px;
}

.btn {
  background-color: white;
  padding: 6px;
  border-radius: 16px;
  color: black;
  width: fit-content;
  border: none;
  font-weight: 700;
  
}

.side-footer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
}

/* .side-footer {
  padding-left: 16px;
} */

.side-footer .footer-container ul {
  display: flex;
  gap: 7px;
  list-style-type: none;
}

.side-footer .footer-container ul li {
  font-size: 11px;
  color: white;
}

h3 {
  color: white;
}
.btn3 {
  display: flex;
  align-items: center;
  background-color: black;
  padding-block: 5px;
  padding-inline: 7px;
  margin-left: 16px;
  border-radius: 16px;
  color: white;
  width: fit-content;
  border: none;
  border: 1px solid white;
}
.footer-container p {
  font-size: 11px;
}

.p-text {
  font-size: 16px;
}

p {
  color: white;
  white-space: nowrap;
}
